@model Switch.Data.Models.Fees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fees</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlatAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
